<div>
    <div data-ng-if="vm.displayProgressBar">
        Progress Bar
    </div>
    {{vm.items.length}}
    <div data-ng-repeat="item in vm.items">

        {{ item.desc }}
        <!-- <div ui-view="{{ item.url }}"></div> -->

    </div>

    <div data-ng-if="vm.displayToken">
        Token
    </div>
    <div data-ng-if="vm.displayButtons">
        <button ng-click="navigate('previous')">
            Previous
        </button>
        <button data-ng-click="navigate('next')">
            Next
        </button>
    </div>
</div>
